/************************ Common ************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.body_container {
    width: 100%;
    flex-wrap: wrap;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/************************ Sidebar style ************************/

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
}

/************************ Main Style ************************/

.main_container {
    width: calc(100% - 230px);
    background-color: #141922;
}

/************************ Now_playing style ************************/

.now_playing {
    width: 100%;
    height: 90px;
    background-color: #282828;
}