/************************ Common ************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.d-flex {
    display: flex;
}

.body_container {
    width: 100%;
    flex-wrap: wrap;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-weight: bold;
}

/************************ Sidebar style ************************/

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* actions style */

.actions {
    width: 100%;
    padding: 20px;
}

.logo {
    width: 70%;
    padding-bottom: 30px;
}

.logo img {
    fill: white;
}

.home, .search, .library {
    line-height: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.icon {
    width: 20px;
    float: left;
    margin-right: 8px;
    filter: invert(36%) sepia(1%) saturate(0%) hue-rotate( 150deg) brightness(145%) contrast(89%);
}

.home>a, .search>a, .library>a {
    float: left;
    font-size: 12px;
    color: #717171;
}

.home>a {
    color: white;
}

#leftlined {
    height: 35px;
    width: 3px;
    background-color: #adff2f;
    position: absolute;
    right: 83px;
    top: -7.5px
}

.playlists {
    margin-top: 25px;
}

.playlists>h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.new {
    line-height: 42px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.fa-plus-square {
    font-size: 42px;
    width: 37px;
    color: #a3a3a3;
}

.new a {
    color: #717171;
    float: left;
    font-size: 14px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 25px;
}

li a {
    color: #717171;
    font-size: 12px;
}

.minilogo {
    fill: white;
    width: 30px;
}

.mini {
    display: none;
}

/* User style */

.user {
    padding: 5px 20px;
    color: #717171;
    width: 100%;
}

.install {
    border-bottom: 1px solid #717171;
    padding-bottom: 10px;
    font-size: 10px;
}

.install a {
    color: #717171;
}

.install img {
    width: 12px;
}

.profile {
    margin-top: 12px;
    line-height: 25px;
    vertical-align: middle;
}

.profile a {
    float: left;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.profile img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #717171;
    float: left;
}

/************************ Main Style ************************/

.main_container {
    width: calc(100% - 230px);
    background-color: #141922;
}

/* Call to action "header" style */

.head_cta {
    width: 100%;
    height: 90px;
    background-color: #080B12;
    align-items: center;
    justify-content: flex-end;
}

.button {
    padding: 15px 40px;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: .5%;
    font-size: .8rem;
}

.overflow_container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 180px);
}

/* Navbar style */

.navbar {
    justify-content: center;
    width: 90%;
    font-size: .8rem;
    flex-wrap: wrap;
    margin: auto;
}

.navbar a {
    color: #717171;
    padding: 20px 7px;
}

.selected {
    position: relative;
}

#underline {
    width: 30px;
    border-bottom: 2px solid #adff2f;
    position: absolute;
    bottom: 16px;
    right: calc(102px/2 - 15px)
}

/* Recently played style */

.item_wrapper {
    justify-content: space-between;
    width: 100%;
}

.small {
    justify-content: left;
    width: 100%;
}

.recent, .for_you, .popular {
    margin: 15px;
    color: white;
}

.item {
    width: calc(100% / 6 - 13px);
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
    margin-top: 20px;
}

.item img {
    width: 100%;
}

.song {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: white;
}

.artist, .subtitle {
    font-size: 12px;
    color: #717171;
}

/* Created for you style */

.for_you h2 {
    padding-bottom: 10px;
}

.for_you h3, .popular h3 {
    padding-bottom: 0px;
}

/* Artiti popolari style */

.popular img {
    border-radius: 50%;
}

/************************ Now_playing style ************************/

/* Left style */

.now_playing {
    width: 100%;
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
}

.left {
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 210px;
}

.thumbnail {
    width: 42px;
}

.thumbnail img {
    width: 100%;
}

.track_info {
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.track_name {
    font-size: 11px;
    color: white;
}

.track_artist {
    font-size: 10px;
    color: #717171;
}

.track_icons {
    flex-wrap: wrap;
    justify-content: center;
}

.track_icons a {
    color: #717171;
    margin: 0 5px;
}

/* Player style */

.player {
    flex-direction: column;
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.player_buttons {
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.player_buttons i {
    color: white;
}

.fa-play-circle {
    font-size: 30px;
}

.timeline {
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    width: 35vw;
}

.time {
    font-size: 10px;
    color: white;
}

.timebar {
    width: 85%;
    height: 4px;
    background-color: #717171;
    border-radius: 2px;
    margin: 0 5px;
}

.slider {
    width: 25%;
    height: 4px;
    background-color: #a3a3a3;
}

/* Right style */

.right {
    height: 90px;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    width: 200px;
}

.volume {
    width: 100%;
    height: 4px;
    background-color: #717171;
    border-radius: 2px;
}

.right i {
    margin: 0 5px;
}

a i {
    color: white;
}

/* Media Query */

@media screen and (max-width:878px) {
    .recent .item_wrapper {
        flex-wrap: wrap;
        justify-content: left;
    }
    .item {
        width: calc(100% / 4 - 13px)
    }
}

@media screen and (max-width:639px) {
    .item {
        width: calc(100% / 2 - 13px)
    }
    .track_icons {
        flex-direction: column;
    }
}

@media screen and (max-width:552px) {
    .sidebar {
        width: 50px;
    }
    .main_container {
        width: calc(100% - 50px);
    }
    .mini {
        display: flex;
    }
    .playlists, .actions, .user {
        display: none
    }
    .install, .profile {
        border: none;
        padding: 0;
        margin: 0;
    }
    .icon {
        margin: 0;
    }
    .mini {
        flex-direction: column;
    }
    .up {
        height: 145px;
        width: 50px;
        justify-content: space-around;
        align-items: center;
    }
    .down {
        height: 80px;
        width: 50px;
        justify-content: space-around;
        align-items: center;
    }
}